/* Ensure that the body and html have no margin or padding */
body, html {
    margin: 0;
    padding: 0;
  }
  
  /* .content-container {
    margin-top: 90px; 
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 90px);
    position: fixed;
  } */